<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contactddd dthe Ruby on Rails Tutorial about the samplawface app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
